

#add-info{
  background: #B8AFBF;
  padding: 2em 4em 4em 4em;

}

#resume{
  height: 180px;
  width: 30%;
}

.button{
  background-color: #4F2E5A;
  color: #fff;
  padding: 1em;
  @include border-radius(5px);
  @include transition-property(width);
  @include transition-duration(3s);

}

.button:hover{
  width: 150px;
  color: #CFB9E6;
}

.button-container{
  padding: 8em 5em 5em 5em;
}

.text-container{
  align:center;
}

.icon-envelope-alt{
  display: inline-block;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #d9ddde;
  border-radius: 4px;
  color: #2980b9;
  font-size: 1.4em

}
